@import url('https://fonts.googleapis.com/css?family=Poppins');


.home-dash-container {
  padding:  20px;
  background-image: url('../lib/background.png');
  background-repeat: repeat;
}


.title {
  color:         #F77171;
  font-family:   'Poppins', sans-serif;
  font-weight:   bold;
  font-size:     30px;
  margin:0;
  padding: 0;
  line-height: 80%;
  text-align: center;
}

.button-dash {
  background-color: #5E93DB; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:   'Poppins', sans-serif;
     font-style: bold;
    font-weight:   600;
    font-size:     20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 4px 2px;
    cursor: pointer;
  border-radius: 50%;
  position: absolute;
}

.button-dash2 {
  background-color: #8AE0AD; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:   'Poppins', sans-serif;
    font-weight:   900;
    font-size:     20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 4px 2px;
    cursor: pointer;
  border-radius: 50%;
  position: absolute;

}

.button-dash3 {
  background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:   'Poppins', sans-serif;
    font-weight:   900;
    font-size:     20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 50%;
    cursor: pointer;
  border-radius: 50%;
  padding: 0px;
  position: absolute;

}

.button-dash4 {
  background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:   'Poppins', sans-serif;
    font-weight:   900;
    font-size:     20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 50%;
    cursor: pointer;
  border-radius: 50%;
  position: absolute;
  padding: 0px;
}

.button-dash5 {
  background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:   'Poppins', sans-serif;
    font-weight:   900;
    font-size:     20px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-right: 100%;
    margin-top: 60%;
    padding-right: 20px;
    cursor: pointer;
  border-radius: 50%;
  position: absolute;
  padding: 0px;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes shake {
          0%, 100% {-webkit-transform: translateX(0);}
          10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
          20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
       }

       @keyframes shake {
          0%, 100% {transform: translateX(0);}
          10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
          20%, 40%, 60%, 80% {transform: translateX(10px);}
       }

       .shake {
          -webkit-animation-name: shake;
          animation-name: shake;
       }


.containerbubbles {
  height: 200px;
  width: 200px;
  position: relative;
}

.link-text {
 text-decoration: none;
 color: white;
 font-size: 15px;
}

.link-text-small{
 text-decoration: none;
 color: white;
 font-size: 15px;
}

.footer{
  padding-top: 90px;
  padding-bottom: 90px;
  height: 80px;
}
