.results-user-container-skill {
  text-align: left;
}
.results-user-container-photo {

}
.results-user-container-name {
  text-align: left;
}
.results-user-container-location {
  text-align: left;
}
.results-user-container-bio {
  text-align: left;
}
