@import url('https://fonts.googleapis.com/css?family=Poppins');


.home-dash-container-select {
  padding:  20px;
  background-image: url('../lib/background.png');
  background-repeat: repeat;
}


.title-select  {
  color:         #F77171;
  font-family:   'Poppins', sans-serif;
  font-weight:   bold;
  font-size:     40px;
  margin:0;
  padding-left:  40px;
  line-height: 80%;
  text-align: left;
}

.add-skill-container-select {
  margin: auto;
   width: 70%;
   height: 70%;
   border: 3px solid #5E93DB;
   background-color: #5E93DB;
   padding: 10px;
   border-radius: 10%;
}

.style-drop-down-menu {

      position: relative;
      width: 30%;
      height: 50px;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      display: block;
      margin: 0 auto;
}

.title5 {
  color:         white;
  font-family:   'Poppins', sans-serif;
  font-weight:   bold;
  font-size:     25px;
  margin:0;
  padding: 30px;
  line-height: 80%;
  text-align: center;
  line-height: 100%;
}

.button-select2{
    background-color: #8AE0AD;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:   'Poppins', sans-serif;
    font-weight:   200;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin: 4px 2px;
    cursor: pointer;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
@-webkit-keyframes shake {
            0%, 100% {-webkit-transform: translateX(0);}
            10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
            20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
         }

         @keyframes shake {
            0%, 100% {transform: translateX(0);}
            10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
            20%, 40%, 60%, 80% {transform: translateX(10px);}
         }

         .shake {
            -webkit-animation-name: shake;
            animation-name: shake;
         }

.style-of-single-list {
  background-color: #f9f9f9;
}

.link-text {
 text-decoration: none;
 color: white;
 text-align: center;
 font-size: 20px;
}

.footer{
  padding-top: 50px;
  padding-bottom: 50px;
}
